/* body{
    margin: 0;
    padding: 0;
    height: 800px;
    background-color: aqua;
    background-image: url('b1169b1a04d9.png');
    background-size: 500px auto;
    background-repeat: repeat-x;
    animation: clouds 4s linear infinite;
}
@keyframes clouds{
    from{
        background-position-x: 0px;
    }
    to{
        background-position-x: 500px;
    }
}
body:hover{
    animation-play-state: paused;
} */
body{
    margin: 0;
    padding: 0;
}
#loaderblock{
    height: 100%;
    padding-top: 20%;
    box-sizing: border-box;
}
#loader{
    width: 64px;
    height: 64px;
    margin: auto;
    box-shadow: -64px -64px 0px black;
    animation: load 2s linear infinite;
}
@keyframes load{
0%, 100%{
        box-shadow: 
        -64px -64px black,
        64px -64px gray,
        64px 64px gray,
        -64px 64px gray;
    }
    25%{
        box-shadow: 
        -64px -64px gray,
        64px -64px black,
        64px 64px gray,
        -64px 64px gray;
    }
    50%{
        box-shadow: -
        64px -64px gray,
        64px -64px gray,
        64px 64px black,
        -64px 64px gray;
    }
    75%{
        box-shadow: 
        -64px -64px gray,
        64px -64px gray,
        64px 64px gray,
        -64px 64px black;
    }
}