table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}
th{
    font-weight: bold;
    background-color: #E6E6E6;
}
.pp{
    background-color: lightblue;
    color: rgb(33, 61, 78);
    border: 1px solid rgb(33, 61, 78);
    margin: 0px;
    padding: 5px;
    display: none;
}
a{
    text-decoration: none;
}
