html, body{
    min-height: 100vh;
}
#leftSidebar{
    border-right: 2px solid black;
    overflow: hidden;
    width: 30px;
    padding-left: 30px;
}
#leftSidebar li{
    width: 200px;
    font-size: 20px;
    padding: 10px;
    /* margin-left: 30px; */

}
.container-fluid{
    padding-left: 30px !important;

}